body {
  background: #87CEEB;
  margin: 0;
  overflow: hidden;
}

button {
  cursor: pointer;
}

@media (hover: hover) {
  *::-webkit-scrollbar {
    width: 2px;
  }

  * {
    scrollbar-width: thin;
  }
}

#title {
  color: white;
  font-size: 5vw;
  left: 0;
  margin-top: 3%;
  position: absolute;
  right: 0;
  text-align: center;
}

#switch {
  align-items: center;
  bottom: 4px;
  cursor: pointer;
  display: flex;
  left: 50%;
  margin-left: -50px;
  position: absolute;
}

#checkbox {
  height: 14px;
  width: 14px;
}

#fullscreen,
#camera {
  border: none;
}

#fullscreen {
  color: #000;
  font-size: 28px;
  line-height: 28px;
  position: absolute;
  right: 4px;
  top: 4px;
}

#camera {
  bottom: 4px;
  font-size: 22px;
  line-height: 22px;
  position: absolute;
  right: 4px;
}

#preloader {
  left: 50%;
  margin-left: -50px;
  position: absolute;
  top: 200px;
}

/* MENU */

input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  max-width: 250px;
  position: absolute;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: #1a252f;
}
.tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
}

.tab-content button {
  /* display: block; */
  width: 100%;
  text-align: left;
}

input:checked + .tab-label {
  background: #1a252f;
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
}